.form{
    width: 800px;
    text-align: center;
    margin: 0 auto;
}
.form input{
    padding: 10px 30px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
}
h2{
    font-family:'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 17px;
    text-align: center;
}
