h2{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center; 
    background-color: blanchedalmond;
    padding: 20px 40px;
    width: 300px;
    margin: 0 auto;
}
h3{
    color: black;
    text-align: center;
    padding: 10px 30px;
    background-color: burlywood;
    width: 300px;
    margin: 0 auto;
}
